<section class="new-entry-section">
    <button type="submit" class="btn" id="create-new-entry">+ Create new entry</button>
</section>


{{#if entrys.length}}
<section>
    <h2>Your Homepage</h2>
    <ul class="entry-list">
        {{#each entrys as |entry|}}
        <li>
            {{> entry-info entry}}
            <a href="/homepage/edit/{{entry.id}}" class="edit-link">edit entry</a>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}

<script src="/js/create-entry.js"></script>